.centerText{
    text-align: center;
    color: white;
}

.sidebar{
    width: 25vw;
    position: fixed;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: rgba(126,196,230,0.5);
    background: linear-gradient(180deg, rgba(37,20,171,0.5) 0%, rgba(106,242,247,0.8) 50%, rgba(185,251,242,0.8) 81%, rgba(255,193,183,0.8) 100%);
    box-shadow: 0px 0px 2px -1px #000;
    padding:20px;
    padding-top: 50px;
    z-index: 30;
    backdrop-filter: blur(12px);
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    
}

.closeButton{
    stroke: #fff;
    stroke-width: 3; 
    position: absolute;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.closeButton:hover{
    transform: rotate(180deg);
}
.iconHolder{
    display:flex;
    gap: 10px;
    color: white;
    font-size: 2em;
}
.iconHoldercol{
    flex-direction: column;
    position: fixed;
    z-index: 100;
    padding: 10px;
    align-items: center;
}
.iconHolder a{
    color: white;
    text-decoration: none;
}
.openButton{
    stroke: #fff;
    stroke-width: 3; 
    position: absolute;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.openButton:hover{
    transform: translate(5px, 0);
}

.svgHolder{
    position: relative;
    width: 50px;
    height: 50px;
    align-self: flex-end;
}
.svgHolder2{
    position: relative;
    width: 50px;
    height: 50px;
}
@media only screen and (max-width: 650px) {
    .sidebar {
      margin: auto;
      width: 100%;
      padding-top: 20px;
    }
   
  }
.profileElement{
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}
.titles{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin:auto;
    width:100%;

}
.text a{
    text-decoration: underline;
    color: rgba(106,242,247,1);
}
.linear{
    display:flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    margin-top: 50px;
}
.title{
    cursor: pointer;
    margin: 10px 30px 30px 30px;
    font-size: clamp(20px, 2.5vw, 50px);

    color:#000;
}
.text{
    color:#fff;
    white-space: pre-line;
}
.titleEnabled{
    background-color: rgba(106,242,247,1);
    
}
.titleDisabled{
    color:rgba(106,242,247,1);
    background: linear-gradient(to left, rgba(255,255,255,0) 50%, rgba(106,242,247,1) 50%) right;
    background-size: 210%;
    transition: .3s ease-out;
}

.titleDisabled:hover{
    color:#000;
    background-position: left;
}
.profileTwitter{
    margin-top: 15px;
}

.profileTitle{
    font-size: 1.5rem;
}

.profileText{
    font-size: 0.7rem;
}
.profileLink{
    font-size: 1rem;
}
.profileLinkCurrent a{
    font-size: 1rem;
    color: #fff;
    cursor:default;
}
.profileLink:hover a{
    font-size: 1rem;
    color: #fff;
    transition: 0.3s ease-out;
}

.profileHolder{
    padding: 10px;
    width: 50%;
    margin:auto;
}

.profileImage{
    width:100px;
    height:100px;
    
    padding:0%;
    border-radius: 4px;
    
}

.content{
    padding: 20px;
    margin-left: var(--sidebar);
}

.pageHolder{
    display: flex;
    flex-direction: row;
}
.contentComm{
    margin-left: var(--sidebar);
    padding: 20px;
    overflow-x:hidden;
    height:100vh;
}

@media only screen and (max-width: 650px) {
    .contentComm {
      margin-left: 50px;
    }
    .content {
        margin-left: 50px;
    }
   
  }

.contentBg{
    object-fit: cover;
    height:100vh;
    overflow: hidden hidden;
}

@keyframes example {
    from {opacity:0.3}
    to {opacity:1}
  }

.contentImg{
    height:100vh;
    animation-name:example;
    animation-duration:3s;
}

.slideshowDot {
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border:1px solid white;
  cursor: pointer;
  margin: 15px 7px 0px;

  background-color: rgba(0,0,0,0);
}

.slideshowDot.active {
    
    background-color: #fff;
}

.galleryDots{
    position: absolute;
    z-index: 20;
    margin: 90vh auto 0;
    transform: translateX(-50%);
}

.dotHolder{
    margin: auto;
    width:10px;
  
}

.homeTwitterTimeline{
    position: absolute;
    z-index: 10;
    bottom:5vh;
    right:2vw;
    overflow: hidden;
}

.homeGradient{
    background-image:linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 68%, rgba(0,0,0,1) 95%, rgba(0,0,0,1) 100%);
    position:absolute;
    height:100vh;
    width:100%;
    z-index: 5;
}

.artGallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
@keyframes fadein {
    from {
      margin-top: 100%;
    }
    to {
      margin-top: 10px;
    }
  }
  @keyframes fadeinsmall {
    from {
      margin-top: 100%;
    }
    to {
      margin-top: 5px;
    }
  }
@keyframes growright {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
.artGalleryItem{
    margin:10px;
    border:2px solid #000;
    animation: fadein 0.3s cubic-bezier(.1,.9,.2,1);
}

.artGalleryItem:hover{
    transition: 0.4s;
    cursor: pointer;
    border:2px solid rgba(106,242,247,1);
}
.modal{
    padding:25px;
    font-family: 'Noto Sans JP', 'Titillium Web', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    text-align: center;
    overflow-wrap: break-word;
    word-wrap: normal;
    overflow:hidden;
    white-space: pre-line;
    height:95vh;
  }

.imgFit{
    height:95vh;
}

.portraitGallery{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.portraitGalleryAlign{
    width:50%;
    margin-right: 10%;
}
.portraitGalleryAlignExp{
    width:15%;
}

.portraitGalleryThumbs{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    height: 100vh;
    overflow: auto;
}
.portraitGalleryThumbsExp{
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    overflow: auto;
}
.portraitGalleryThumbs::-webkit-scrollbar{
    width: 5px;
}
.portraitGalleryThumbs::-webkit-scrollbar-track {
    background: rgba(255,255,255,0.1);
  }
.portraitGalleryThumbs::-webkit-scrollbar-thumb {
    background: rgba(106,242,247,1);
}
.portraitGalleryThumbs::-webkit-scrollbar-thumb:hover {
    background: #5ea3c6;
    transition: 0.5s;
}

.thumbBorder{
    border-radius: 8px;
}

.portraitThumb{
    transition: 0.4s;
    margin:5px;
    border-radius: 8px;
    background-color: #000;
    border:2px solid #000;
    animation: fadeinsmall 0.8s cubic-bezier(.1,.9,.2,1);
}

.portraitThumb:hover{
    transition: 0.4s;
    cursor: pointer;
    border-radius: 8px;
    border:2px solid rgba(106,242,247,1);
    transform: scale(1.1);
}
.portraitThumbSelected{
    transform: scale(1.1);
    transition: 0.4s;
    cursor: pointer;
    border-radius: 8px;
    background-color: rgba(106,242,247,1);
    border:2px solid rgba(106,242,247,1);
}
.portraitThumbs{
    width: clamp(50px, 15vw, 120px);
}
.chibi{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content:center;
}
.chibiCard{
    font-size: clamp(10px, 1.5vw, 30px);
    width:min(400px, 90%);
    padding: 15px;
}
.portraitGalleryFull{
    width:40%;
    height:95vh;
    
}
.portraitText{
    width:40%;
}
.galleryHolder{
    width:40%;
    background-color: white;
    border-radius: 10px;
    height:350px;
  }
@keyframes fadeinRight {
    from {
      opacity: 0.5;
      margin-top: 30px;
      
    }
    to {
        opacity: 1;
      margin-top: 0px;
    }
  }
.commissionTerms{
    color:#fff;
    font-size: 1.5rem;
    white-space:pre-wrap;
    word-wrap: normal;
    overflow-wrap: break-word;
    margin: 10px 30px 30px 30px;
}
.commissionExtra{
    color:#fff;
    font-size: 1rem;
    white-space:pre-wrap;
    word-wrap: normal;
}
.about{
    
    color:#fff;
    overflow: hidden hidden;
    font-size: 1.5rem;
    margin: 10px 30px 30px 30px;
    animation: fadein 0.8s cubic-bezier(.1,.9,.2,1);
}
.commissionBullet{
    animation: fadeinRight 0.8s cubic-bezier(.1,.9,.2,1);
}

.commissionBoxStatus{
    display: inherit;
}

.commissionBox ul{
    list-style: none;
    margin: 0 0 0 0;
    padding: 0 2rem 0 0;
}
.commissionBox ul li::before{
  content: "\2022"; 
  font-size: 2rem;
  color:rgba(106,242,247,1);
  font-weight: bold;
  display: inline-block; 
  width: 2rem; 
}

.commDisplay{
    position: relative;
    transition: .3s ease-out;
}
.commDisplay2{
    position: absolute;
}
.transparentComm{
    position: relative;
    opacity: 0.3;
    transition: .3s ease-out;
}
.imageHolder{
    position: relative;
  width: min(700px, 100%);
  margin:auto;
}
.commLink{
    margin-top: 40px;
    font-size: clamp(10px, 1.5vw, 30px);
    margin-bottom: 40px;
}
.commText{
    font-size: clamp(10px, 1.5vw, 30px);

}
.commLink a{
    color:rgba(106,242,247,1);
    text-decoration: underline;
}
.commLink a:hover{
    color:#5ea3c6;
    text-decoration: underline;
    transition: .3s ease-out;
}